import styled from "styled-components";

export const SContainer = styled.div`
  @import "compass";
  $container-width: 350px;
  $container-height: 400px;

  body {
    background: #d4e3e6;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$container-height/2;
    margin-left: -$container-width/2;

    width: $container-width;
    background: #fff;
    @include border-radius(10px);

    .background {
      height: 252px;
      position: relative;
      overflow: hidden;
      @include border-radius(10px 10px 0 0);
      @include transition-property(background);
      @include transition-duration(2s);

      .forest-top svg polygon,
      .forest-bot svg path {
        @include transition-property(fill);
        @include transition-duration(2s);
      }

      .stars {
        opacity: 0;
        @include transition-property(opacity);
        @include transition-duration(2s);
      }

      &.day {
        background-color: #0aceff;

        .cloud {
          opacity: 1;
        }

        .forest-top svg polygon {
          fill: #149cbf;
        }

        .forest-bot svg path {
          fill: #0d87a3;
        }
      }

      &.night {
        background-color: #172a60;

        .forest-top svg polygon {
          fill: #18214f;
        }

        .forest-bot svg path {
          fill: #172a60;
        }

        .cloud {
          opacity: 0.2;
        }

        .stars {
          opacity: 0.28;
        }
      }

      .overlay {
        position: absolute;
        z-index: 10;
        width: 0;
        height: 0;
        border-top: 252px solid rgba(255, 255, 255, 0.06);
        border-right: 350px solid transparent;
      }

      .cloud {
        position: absolute;
        width: 100px;
        @include transition-property(opacity);
        @include transition-duration(2s);

        &.top {
          top: -15px;
          left: 0px;
        }
        &.top-backup {
          top: -15px;
          left: -100px;
        }

        &.mid {
          top: 35px;
          left: 200px;
        }

        &.mid-backup {
          top: 35px;
          left: 0px;
        }

        &.bot {
          top: 65px;
          left: -30px;
        }
        &.bot-backup {
          top: 65px;
          left: -230px;
        }
      }

      .forest-top,
      .forest-bot {
        position: absolute;
        bottom: -3px;
      }
      .forest-top {
        bottom: 10px;
      }

      .moon,
      .sun {
        bottom: -40px;
      }

      .moon {
        position: absolute;
        left: 10px;
        transform: scale(0.6, 1);

        svg {
          width: 150px;
          height: 150px;
        }
      }

      .sun {
        position: absolute;
        left: 10px;

        svg {
          width: 150px;
          height: 150px;
        }
      }
    }

    .text {
      text-align: center;
      color: #172a60;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      h3 {
        font-size: 26px;
        font-weight: bold;
        padding-top: 35px;
      }
      p {
        color: #69738e;
        font-size: 13px;
        margin-top: 10px;
      }

      .lbl {
        position: relative;
        display: block;
        height: 34px;
        width: 65px;
        background: #dfe4f5;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 30px auto;

        &:after {
          position: absolute;
          right: -4px;
          top: -2px;
          display: block;
          width: 38px;
          height: 38px;
          border-radius: 30px;
          background: #172a60;
          @include box-shadow(0px 2px 5px -1px rgba(23, 42, 96, 0.75));
          content: "";
          transition: all 0.3s ease;
        }

        &:active:after {
          transform: scale(1.15, 0.85);
        }
      }
      .cbx:checked ~ label {
        background: #cee7ed;
      }

      .cbx:checked ~ label:after {
        left: -2px;
        background: #00ccff;
        @include box-shadow(0px 2px 5px -1px rgba(0, 204, 255, 0.75));
      }

      .hidden {
        display: none;
      }
    }

    &.day {
      h3 {
        color: #0c8faf;
      }
    }
  }
`;
